.title {
  font-family: Arial, sans-serif;
  font-size: 20px;
}


/* Define a style for the header element */
.header {
  width: 100%;
  height: 44px;
  background-color: black;
}

/* Define a style for the container element */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Define a style for the nav element */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Define a style for the nav-list element */
.nav-list {
  display: flex;
  list-style-type: none;
}

/* Define a style for each nav-item element */
.nav-item {
  margin: 0 10px;
}

/* Define a style for each nav-link element */
.nav-link {
  display: block;
  color: white;
  text-decoration: none;
}

/* Define a style for each image element inside a nav-link element */
.nav-link img {
  width: 22px;
}

.main {
  width: 100%;
}

/* Define a style for the hero element */
.hero {
  width: 100%;
  height: 800px;
}

/* Define a style for the hero image */
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Define a style for the products element */
.products {
  width: 100%;
}

/* Define a style for the container element */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Define a style for each product element */
.product {
  width: 100%;
}

/* Define a style for each product image */
.product img {
  width: 100%;
}
/* Define a style for the footer element */
.footer {
  width: 100%;
  background-color: black;
}

/* Define a style for each paragraph element inside the footer element */
.footer p {
  color: white;
}

/* Define a style for each anchor element inside the footer element */
.footer a {
  color: white;
  text-decoration: none;
}

/* Define a style for each list item element inside the footer element */
.footer li {
  display: inline-block;
}

/* Define a style for each image element inside the footer element */
.footer img {
  width: 20px;
}

/* Define a style for the container element */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Define a style for the footer-top element */
.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Define a style for the footer-text element */
.footer-text {
  font-size: 12px;
  
}

/* Define a style for the footer-links element */
.footer-links {
  list-style-type: none;
}

/* Define a style for each footer-link element */
.footer-link {
  margin: 0 10px;
}

/* Define a style for each footer-link element on hover */
.footer-link:hover {
  text-decoration: underline;
}

/* Define a style for the footer-bottom element */
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Define a style for the country element */
.country {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 300px) {
  /* Your CSS code for mobile devices goes here */
}
