
		.body {
			background-color: #ffffff;
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}
		
		.header {
			background-color: #f7f7f7;
			color: #000;
			text-align: center;
                        height: 180px;
		}
		
		.navbar {
			background-color: #D2B48C;
			overflow: hidden;
		}
		
		.navbar a {
			float: left;
			display: block;
			color: #000;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 18px;
		}
		
		.navbar a:hover {
			background-color: #A84448;
		}
		
		.hero-image {
			height: 400px;
			position: relative;
                        text-align: center;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		
		.hero-text {
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: black;
			font-size: 50px;
		}
		
		.menu-section {
			background-color: #D2B48C;
			padding: 50px;
			margin-bottom: 20px;
		}
		
		.menu-item {
			margin-bottom: 20px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			border: 1px solid #000;
			border-radius: 5px;
		}
		
		.menu-item img {
			max-width: 100px;
			margin-right: 20px;
		}
		
		.menu-item h3 {
			margin: 0;
			font-size: 24px;
		}
		
		.menu-item p {
			margin: 0;
			font-size: 18px;
		}
.slide {
                    height: 300px;
			position: relative;
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 50px;
			margin-bottom: 20px;
                        align-items: center;
                }
   /* Define a style for the footer element */
.footer {
  
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color:#ffffff;
  text-align: center;
 
}
/* Define a style for each paragraph element inside the footer element */
.footer p {
  color: black;
}
/* Define a style for each anchor element inside the footer element */
.footer a {
  color: black;
  text-decoration: none;
}
/* Define a style for each list item element inside the footer element */
.footer li {
  display: inline-block;
}
/* Define a style for each image element inside the footer element */
.footer img {
  width: 20px;
}
/* Define a style for the container element */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
/* Define a style for the footer-top element */
.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
 
}
/* Define a style for the footer-text element */
.footer-text {
  font-size: 12px;
 
}
/* Define a style for the footer-links element */
.footer-links {
  list-style-type: none;
  
}
/* Define a style for each footer-link element */
.footer-link {
  margin: 0 10px;
  
}
/* Define a style for each footer-link element on hover */
.footer-link:hover {
  text-decoration: underline;
}

/* Define a style for the country element */
.copyright {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
